/* font-family: 'Caveat', cursive;
font-family: 'Pacifico', cursive; */

body {
    background-color: rgb(50, 52, 54);
    color: rgb(26, 201, 201);
}

#header {
    display: inline;
    text-align: center;
}

#header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}

.crown-left{
    width: 4%;
    position: relative;
    right: 35px;
    top: -10px;
}

.crown-right{
    width: 4%;
    position: relative;
    left: 35px;
    top: -10px;
}

.button {
    margin: 5% auto 1%;
    display: block;
}

.dice-col {
    display: inline-block;
    text-align: center;
}

.left-col {
    padding-right: 10%;
}

.right-col {
    padding-left: 10%;
}

.dice-col h3 {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    margin-bottom: 20px;
}


/* Dice Sprites */

.die-one {
    width:128px;
    height:128px;
    background: url(images/die.png) 0 0;
}

.die-two {
    width:128px;
    height:128px;
    background: url(images/die.png) -128px 0;
}

.die-three {
    width:128px;
    height:128px;
    background: url(images/die.png) -256px 0;
}

.die-four {
    width:128px;
    height:128px;
    background: url(images/die.png) -384px 0;
}

.die-five {
    width:128px;
    height:128px;
    background: url(images/die.png) -512px 0;
}

.die-six {
    width:128px;
    height:128px;
    background: url(images/die.png) 128px 0;
}